---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <div class="index-block">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {% for post in paginator.posts %}
            {% include post_list_item.html post_item=post %}
        {% endfor %}
      </ul>
      {% include paginate.html %}
    </div> -->
    <div class="index-block">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    </div>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    <div class="side-bar">
        {% include sidebar_tags.html %}
        {% include sidebar_archive.html %}
        <div class="side-bar-block">
            <span class="post-meta">SUBSCRIBE:</span>
            <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS订阅</a></p>
        </div>
    </div>
  {%- endif -%}

</div>
